.lastdiv {

    background-color: #1A1E26!important;
    border-top: 1px solid white!important;
    padding: 25px!important;

}

.copyright {

    color: white!important;
    font-weight:bold!important;
    
}