
@import './variable.scss';
@import './breakpoints.scss';
@import './kundvagn.scss';
@import './bilder.scss';
@import './kunduppgifter.scss';
@import './betalning.scss';
@import './modal.scss';
@import './checkbox.scss';



* {
    font-family: $fontFamily;
    margin: $margin;
    padding: $padding;
    box-sizing: $boxSizing;
}


.form-input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 0.125rem);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
    background-color: whitesmoke;
    background-clip: padding-box;
    border: 0.063rem solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 1%;
}

input:focus { 
    outline: none !important;
    border-color: $c1-blue;
    box-shadow: 0 0 0.625rem $c1-blue;
 }

 





























